body{
    font-family: 'Open Sans', sans-serif;
}


#nav{
    margin: auto;
    overflow: auto;
    background: linear-gradient(315deg, rgba(.8,.8,.8,.3) 10%, rgba(.8,.8,.8,.7) 38%, rgba(.8,.8,.8,.3) 68%, rgba(.8,.8,.8,.3) 98%);
    animation: gradient 10s ease infinite;
    background-size: 400% 400%;
    background-attachment: fixed;
    box-shadow: 0px 0px 30px 0px black;
}

@keyframes gradient {
    50% {
        background-position: 80% 80%;
    }
    80% {
        background-position: 50% 50%;
    }
    100% {
        background-position: 0% 0%;
    }
}
#div_bg1{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    

}









/* navigation hover */
.bsl:hover{
    box-shadow: 0px 0px 30px 0px black;
}


.nav-item:hover{
    box-shadow: 0px 0px 30px 0px black;
}
#nav img:hover{
    box-shadow: 0px 0px 30px 0px black;
}


/* HTML hover */
#divAbout{
    position: absolute;
    top: 50;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #aaaaaa;
    border-radius: 20px;
    box-shadow: 0px 0px 30px 0px black;
}

#div_right:hover #divAbout{
    opacity: 1;
}
.text-html {
    color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.logo{
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border: 1px solid gray;
    box-shadow: 0px 0px 30px 0px black;
}
