body{
    font-family: 'Open Sans', sans-serif;
    background-image: linear-gradient(white, black);
    background-size: 200% 200%;

}

/* NAV AND ABOUT ME GRADIENT */
#nav, #blkSquare1{
    overflow: auto;
    background: linear-gradient(315deg, rgba(.8,.8,.8,.8) 10%, rgba(.8,.8,.8,.6) 38%, rgba(.8,.8,.8,.3) 68%, rgba(.8,.8,.8,.8) 98%);
    animation: gradient 10s ease infinite;
    background-size: 400% 400%;
    background-attachment: fixed;
}


@keyframes gradient {
    50% {
        background-position: 80% 80%;
    }
    80% {
        background-position: 50% 50%;
    }
    100% {
        background-position: 0% 0%;
    }
}
/* NAV AND ABOUT ME GRADIENT */

/* navigation hover */
.bsl:hover{
    box-shadow: 0px 0px 30px 0px white;
}


.nav-item:hover{
    box-shadow: 0px 0px 30px 0px white;
}
#nav img:hover{
    box-shadow: 0px 0px 30px 0px white;
}


/* HTML hover */
#divAbout{
    
    top: 50%;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 0px 20px 0px white;
}

#div_logo:hover #divAbout{
    opacity: .9;
}


#htmlside{
    top:50%;
    right:10%;
    left: 10%;
    
}

#cssside{
    top:50%;
    right:10%;
    left: 10%;
}



.text-html {
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  
}

#logo{
    
    
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border: 1px solid gray;
    box-shadow: 0px 0px 30px 0px black;
    opacity: .4 ;
}


#aboutme-p{
    text-indent: 40px;
}


.first-line::first-letter{
    font-size: 200%;

}


/* psuedo */



#contentPic:hover {
    width: 100%;
    cursor: pointer;
    border-radius: 10px;
}

#home-p {
    color: black;
    position: absolute;
    text-align: center;
    bottom: 0;

    visibility: hidden;
    opacity:1 ;
    transition: bottom 0.5s, opacity 0.5s;

    
}

#contactBg{
    opacity: 0.3;
    background-repeat: no-repeat; 
    background-size: 100% 100%;
    width: 50%; height: 70%;
    box-shadow: 0px 20px 25px 20px black;
    z-index:-1;
    top: 20%;
    left: 25%;
    animation: animateUser 3s linear infinite;
}

@keyframes animateUser {
    30%{
     
        top: 160px;
    }
}

#projectBg{
    opacity: 0.4;
    background-repeat: no-repeat; 
    background-size: 100% 100%;
    width: 90%; height: 50%;
    box-shadow: 0px 20px 25px 20px black;
    z-index:-1;
    top: 30%;
    left: 5%;
}


#contentPic:hover p{
    border-radius: 5px;
    opacity: 1;
    margin: auto;
   padding: 5%;
    justify-content: center;
    font-weight: bolder;
    visibility: visible;
    bottom: -50px;
    box-shadow: 0px 20px 25px 20px black;
}

#bground{
    opacity: 0.6;
    background-repeat: no-repeat; 
    background-size: 100% 100%;
    width: 50%; height: 60%;
    box-shadow: 0px 20px 25px 20px black;
    z-index:-1;
    
}


#div_pic{
    border-radius: 5px;
    background-color: rgba(0, 0, 0,.4);
    box-shadow: 0px 20px 25px 20px black;
}


#middleSquare{
    z-index: -1;
    top: 33%;
    right: 14%;
    opacity: .7;
    
}

#blkSquare1{
    box-shadow: 0px 0px 70px 20px black;
    border-radius: 10px;
}


/* SKILL PAGE */

#rowsPercentage{
    width: 16.6%;
}

    #html_skill{
        border-start-start-radius: 100px;
        border-top-right-radius: 100px;
        animation: htmlHeights;
        animation-duration: 2s;
        height: 75%;
        margin-left: 14%;
        box-shadow: 0px 30px 25px 0px #dc3545;
       
    }
    @keyframes htmlHeights{
        from { height: 0%;}
        to   {height: 75%;}
    }

    #css_skill{
        border-start-start-radius: 100px;
        border-top-right-radius: 100px;
        animation: cssHeights;
        animation-duration: 2s;
        margin-left: 14%;
        height: 80%;
        box-shadow: 0px 30px 25px 0px #0d6efd;
    }

    @keyframes cssHeights{
        from { height: 0%;}
        to   {height: 80%;}
    }

    #jscript_skill{
        border-start-start-radius: 100px;
        border-top-right-radius: 100px;
        animation: jsHeights;
        animation-duration: 2s;
        margin-left: 14%;
        height: 60%;
        box-shadow: 0px 30px 25px 0px #ffc107;
    }

    @keyframes jsHeights{
        from { height: 0%;}
        to   {height: 60%;}
    }

    #php_skill{
        border-start-start-radius: 100px;
        border-top-right-radius: 100px;
        animation: phpHeights;
        animation-duration: 2s;
        margin-left: 14%;
        height: 70%;
        box-shadow: 0px 30px 25px 0px #198754;
    }

    @keyframes phpHeights{
        from { height: 0%;}
        to   {height: 70%;}
    }

    #python_skill{
        border-start-start-radius: 100px;
        border-top-right-radius: 100px;
        animation: pythonHeights;
        animation-duration: 2s;
        margin-left: 14%;
        height: 90%;
        box-shadow: 0px 30px 25px 0px #0dcaf0;
    }

    @keyframes pythonHeights{
        from { height: 0%;}
        to   {height: 90%;}
    }

    #java_skill{
        border-start-start-radius: 100px;
        border-top-right-radius: 100px;
        animation: javaHeights;
        animation-duration: 2s;
        margin-left: 14%;
        height: 70%;
        box-shadow: 0px 30px 25px 0px white;
    }

    @keyframes javaHeights{
        from { height: 0%;}
        to   {height: 70%;}
    }

    
/* skill page */


#skillBground{
    opacity: 0.7;
    background-repeat: no-repeat; 
    background-size: 100% 100%;
    border-radius: 10px;
    box-shadow: 0px 20px 25px 20px black;
    z-index:-1;
    top: 18%;
    left: 12.5%;
    margin: auto;
}

#wrapperContent{
    box-shadow: 0px 20px 30px 20px black;
}


/* PROJECT ANIMATION */
    /* HTML */
#htmlAnime{
    animation-name: Animehtml;
    animation-duration: .8s;
    animation-timing-function: ease-out;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;
    
}

@keyframes Animehtml {
    from{
        
        transform: translatex(-700px);
    }
    to {
        transform: translatex(0);    
    }
}
    /* html */


    /* CSS */
#cssAnime{
    animation-name: Animecss;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;
    
}

@keyframes Animecss {
    from{
        
        transform: translateY(700px);
    }
    to {
        transform: translateY(0);    
    }
}
    /* css */


    /* JSCRIPT */
#jsAnime{
    animation-name: Animejscript;
    animation-duration: 1.2s;
    animation-timing-function: ease-out;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;
    
}

@keyframes Animejscript {
    from{
        
        transform: translateY(-700px);
    }
    to {
        transform: translateY(0);    
    }
}    
    /* jscript */


    /* PHP */
#phpAnime{
    animation-name: Animephp;
    animation-duration: .8s;
    animation-timing-function: ease-out;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;
    
}

@keyframes Animephp {
    from{
        
        transform: translateX(700px);
    }
    to {
        transform: translateX(0);    
    }
}  
    /* php */


    /* PYTHON */
#pythonAnime{
    animation-name: Animepython;
    animation-duration: .5s;
    animation-timing-function: ease-out;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;
    
}

@keyframes Animepython {
    from{
        
        transform: translateY(700px);
    }
    to {
        transform: translateY(0);    
    }
}  
    /* python */



    /* JAVA */
#javaAnime{
    animation-name: Animejava;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;
    
}

@keyframes Animejava {
    from{
        
        transform: translateY(-700px);
    }
    to {
        transform: translateY(0);    
    }
}  
    /* java */
/* project animation */

/* ABOUT ME ANIMATION */
    #aboutmeBG1{
        opacity: 0.5;
        background-repeat: no-repeat; 
        background-size: 100% 100%;
        font-style: oblique;
        font-weight: bold;
        z-index:-1;
        top: 20%;
        left: 25%;
        animation: ABG1 3s linear infinite;
        font-size: 70px;
    }
    
    @keyframes ABG1 {
        30%{
         
            top: 160px;
        }
    }

    #aboutmeBG2{
        opacity: 0.5;
        background-repeat: no-repeat; 
        background-size: 100% 100%;
        font-style: oblique;
        font-weight: bold;
        z-index:-1;
        bottom: 120px;
        left: 1200px;
        font-size: 63px;
        animation: ABG2 3s linear infinite;
    }
    
    @keyframes ABG2 {
        30%{
         
            bottom: 160px;
        }
    }

    #aboutmeBG3{
        opacity: 0.5;
        background-repeat: no-repeat; 
        background-size: 100% 100%;
        font-style: oblique;
        font-weight: bold;
        z-index:-1;
        bottom: 400px;
        left: 576px;
        font-size: 50px;
        color:blueviolet;
        animation: ABG3 3s linear infinite;
    }
    
    @keyframes ABG3 {
        30%{
         
            bottom: 350px;
        }
    }

    #aboutmeBG4{
        opacity: 0.5;
        background-repeat: no-repeat; 
        background-size: 100% 100%;
        font-style: oblique;
        font-weight: bold;
        z-index:-1;
        right: 756px;
        top: 120px;
        font-size: 58px;
        animation: ABG4 3.8s linear infinite;
    }
    
    @keyframes ABG4 {
        30%{
         
            right: 770px;
        }
    }

    #aboutmeBG5{
        opacity: 0.5;
        background-repeat: no-repeat; 
        background-size: 100% 100%;
        font-style: oblique;
        font-weight: bold;
        z-index:-1;
        right: 350px;
        top: 200px;
        font-size: 35px;
        animation: ABG5 4.5s linear infinite;
    }
    
    @keyframes ABG5 {
        30%{
         
            right: 370px;
        }
    }

    #aboutmeBG6{
        opacity: 0.5;
        background-repeat: no-repeat; 
        background-size: 100% 100%;
        font-style: oblique;
        font-weight: bold;
        z-index:-1;
        right: 700px;
        top: 300px;
        font-size: 75px;
        animation: ABG6 5s linear infinite;
    }
    
    @keyframes ABG6 {
        30%{
         
            top: 310px;
        }
    }

    #aboutmeBG7{
        opacity: 0.5;
        background-repeat: no-repeat; 
        background-size: 100% 100%;
        font-style: oblique;
        font-weight: bold;
        z-index:-1;
        left: 300px;
        bottom: 300px;
        font-size: 30px;
        animation: ABG7 4s linear infinite;
    }
    
    @keyframes ABG7 {
        30%{
         
            left: 320px;
        }
    }

/* about me animation */
