

.wrapper{
    height: 100vh;
}

section{
    height: 88%;
}

footer{
    height: 5%;
}



body{
    
   background-image: url(/MiniProject2/);
}

*{
 
}

/*-------------------------------- My Logo */
.logo{
    padding-top: 5px;
    font-weight: bolder;
}



/*-------------------------------------------------------------------- MUSIC SECTION */

.musicDiv{
    height: 92%;
}

.searchDiv{
    height: 8%;
}

/* --------------------------------------------------------------------music section */


/* ----------------------------------------------------------------------LIBRARIES */


/* -----------------------------------------------------------------------libraries */
