:root{
    --slider-padding: 5rem;
}
body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: black;
    color: white;
    font-family: 'Bebas Neue', sans-serif;
    width: 100vw;
    
}
.search{ 
    
    
    margin-right: 50px;
    margin-top: 10px;

   
}

.movie .showsDiv{
    padding: 5px;
    margin: 0px;
    transition: transform .2s;
}




.nav{
    margin-top:10px;
    width: 100%;
}

form{
    margin-top:5px;
}

a{
    text-decoration: none;
    color: white;
}

.netflix{
    color: red;
    padding-right: .7em;
    padding-left: .5em;
    font-size: 3em;
    margin: .2em;

    
}

input {
font-size: 20px;
height: 2em;
border-radius: 10px;
}

button{
    border-radius: 5px;
    height: 2.6em;
}

.home {
    font-size: 1.6em;
    padding-top: 5px;
    margin-top: 20px;
}

.showsDiv img {
    border-radius: 1rem;
    overflow: hidden;
}
h3{
    font-size: 1.8em;
    margin-left: 60px;
    margin-top: 30px;
}

.movieSection{
    margin-top: 50px;
}
/* -----------------------------trending now -------------------------*/
.trending {
    display: flex;
    justify-content: center;

}

.trendingNow {
    --slider-index: 0;
    display: flex;
    width: calc(100% - 2 * var(--slider-padding));
    transform: translateX(calc(var(--slider-index) * -100%));
    transition: 1s;
}
 
.trendingNow > .showsDiv {

    max-width: 25%;
    padding: .25rem;
 
}

.trending .handle {
    border: none;
    border-radius: 1rem;
    flex-grow: 0;
    width: var(--slider-padding);
    background-color: rgba(0, 0, 0, .25);
    z-index: 10;
    margin: .25rem 0;
    padding: 0 .5em;
    cursor: pointer;
    font-size: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    line-height: 0;
    transition: background-color 150ms ease-in-out;
    
}

.trending .text {
    transition: transform 150ms ease-in-out;
}

.trending .handle:hover .text ,
.trending .handle:focus .text {
    
    transform: scale(1.5);
    
}
.trending .handle:hover,
.trending .handle:focus {
    background-color: rgba(0, 0, 0, .5);
}


/* -------------------------action and adventure------------------------------- */

.action {
    
    display: flex;
    justify-content: center;
}

.actionAdventure {
    --slider-index: 0;
    display: flex;
    width: calc(100% - 2 * var(--slider-padding));
    transform: translateX(calc(var(--slider-index) * -100%));
    transition: 1s;
}

.actionAdventure > .showsDiv {
    max-width: 25%;
    padding: .25rem;
    
}




.action .handle{
    border: none;
    border-radius: 1rem;
    flex-grow: 0;
    width: var(--slider-padding);
    background-color: rgba(0, 0, 0, .25);
    z-index: 10;
    margin: .25rem 0;
    padding: 0 .5em;
    cursor: pointer;
    font-size: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    line-height: 0;
    transition: background-color 150ms ease-in-out;
    
}

.action .handle:hover,
.action .handle:focus{
    background-color: rgba(0, 0, 0, .5);
}

.action .text {
    transition: transform 150ms ease-in-out;
}

.action .handle:hover .text ,
.action .handle:focus .text{
    
    transform: scale(1.5);
    
}


/* ------------------------drama--------------------------------*/

.dramaSection {
    
    display: flex;
    justify-content: center;    
}

.dramas{
    --slider-index: 0;
    display: flex;
    width: calc(100% - 2 * var(--slider-padding));
    transform: translateX(calc(var(--slider-index) * -100%));
    transition: 1s;
}

.dramas > .showsDiv {
    
    max-width: 25%;
    padding: .25rem;
    

}


.dramaSection .handle{
    border: none;
    border-radius: 1rem;
    flex-grow: 0;
    width: var(--slider-padding);
    background-color: rgba(0, 0, 0, .25);
    z-index: 10;
    margin: .25rem 0;
    padding: 0 .5em;
    cursor: pointer;
    font-size: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    line-height: 0;
    transition: background-color 150ms ease-in-out;
    
}


.dramaSection .text {
    transition: transform 150ms ease-in-out; 
}

.dramaSection .handle:hover .text ,
.dramaSection .handle:focus .text {

    transform: scale(1.5);
    
}
.dramaSection .handle:hover, 
.dramaSection .handle:focus {
    background-color: rgba(0, 0, 0, .5);
}


/* ---------------------------showDiv------------------------------ */
.showsDiv:hover{
    transform: scale(1.1);
}

.showsDiv{
    transition: .5s;
    padding: 5px;
}

.rating{
    margin: 0;
}

.summaryDiv{
    position: relative;
    width: 25vw;
    left: -100px;
    text-align: justify;
    
}

.infoDiv{
    display: none;
    transition: .5s;
    
    z-index: 3;
}

.showsDiv:hover .infoDiv{
    display: contents;
    position: relative;


}